#cartItems2 {
    display: inline;
}

#totalPrice {
    text-align: center;
}

#totalPriceCurrency {
    color: red;
}

#cartTotalPrice2 {
    display: inline;
}

#checkOutButton {
    margin: 0 auto 0 auto;
    display: block;
}

#quantityText {
    margin: 5px 0 5px 0;
    font-weight: bold;
    font-size: 0.9em;
}

#quantityNumber {
    font-size: 1.01em;
    color: #0990c0;
}